@import "tailwindcss";

body {
  font-family: "Montserrat" !important;
  color: #0a0a0a;
  background: #fff;
  font-size: 14px;
  margin: 0;
  overflow-x: hidden !important;
  padding: 0;
}
button {
  cursor: pointer !important;
}
.font-Marcellus-SC {
  font-family: "Marcellus SC" !important;
}

.font-Marcellus {
  font-family: "Marcellus" !important;
}

.font-Syne {
  font-family: "Syne" !important;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}

.swiper-slide {
  text-align: center;
  overflow-x: hidden !important;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  overflow-x: hidden !important;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overflow {
  overflow-x: hidden !important;
}
